# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/soira-camera?retryWrites=true&w=majority

# Redis Cloud
REDIS_HOST=your-redis-cloud-endpoint.redislabs.com
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password

# API Gateway
PORT=3000
